  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
	.App {
		overflow: hidden;
	}

  .home {
  	display: flex;
  	flex-direction: column;
  }

  .footer {
  	padding-top: 100px;
  	display: flex;
  	justify-content: space-around;
  	height: 90vh;
  	width: 99.7%;
  	background: rgb(19, 59, 140);
  	background: linear-gradient(99deg, rgba(19, 59, 140, 1) 10%, rgba(31, 89, 209, 1) 56%, rgba(0, 212, 255, 1) 100%);
  }

  .header {
  	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
  }

  .digiFacImg {
  	margin-top: 2%;
  }

  .getButton {
  	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  	-webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  	-moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  }

  .footerContainer {
  	display: flex;
  	flex: 0.3;
  	flex-wrap: wrap;
  	color: white;
  	height: max-content;
  	font-family: 'Montserrat';
  	font-size: 16px;
  	line-height: 30px;
  }

  a {
  	text-decoration: none;
  	color: chartreuse;
  }

  ul {
  	list-style: none;
  	line-height: 30px;
  	margin-left: -15%;
  }

  li {
  	margin-top: 5%;
  	font-family: 'Montserrat';
  }

  .contactInfo {
  	color: white;
  	height: max-content;
  	flex: 0.2;
  	font-family: 'Montserrat';
  	text-align: left;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .services {
  	flex: 0.3;
  	font-family: 'Montserrat';
  	color: white;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .idma {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	height: 100vh;
  	width: 99.7%;
  }

  .idma_h2 {
  	font-family: 'Montserrat';
  	font-size: 28px;
  	font-weight: 600;
  	color: #115a9f;
  }

  .idmaPara {
  	text-align: center;
  	width: 73%;
  	font-size: 16;
  	font-family: 'Montserrat';
  }

  .cardContainer {
  	display: flex;
  	justify-content: space-evenly;
  	align-items: baseline;
  }

  .cards {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border-radius: 25px;
  	height: max-content;
  	width: 15%;
  	text-align: center;
  	font-size: 16px;
  	font-family: 'Montserrat';
  	word-wrap: break-word;
  	padding: 30px;
		box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);
  }

  .cards:hover {
  	background-color: #115a9f;
  	color: white;
  }

  .cardTitle {
  	font-weight: bolder;
  	padding-top: 15px;
  }

  .imgCircle {
  	box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.3);
  	padding: 10px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 50px;
  	width: 50px;
  	border-radius: 50%;
  	background-color: palegreen;
  }

	.cards:hover > .imgCircle {
		background-color: white;
	}

	.viewMore {
		width: 12%;
		border: 2px solid;
		border-radius: 25px;
		background-color:#115a9f;
		font-family: 'Montserrat';
		font-weight: bold;
	}

	.whatWeDo {
		display: flex;
		height: 100vh;
		width: 99.7%;
		padding: 15px;
		overflow: hidden;
		align-items: center;
	}

	.marketingServices {
		display: flex;
		flex: 0.6;
		flex-direction: column;
		height: max-content;
		margin-left: 5%;
	}

	.H2 {
		font-family: 'Montserrat';
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 35px;
	}

	.H6 {
		font-size: 14px;
		font-weight: 900;
		letter-spacing: 1px;
		color: #115a9f;
		margin: 10px;
	}

	.dotHeading {
		display: flex;
		align-items: center;
		color: #115a9f;
	}

	.servicePoints {
		display: flex;
		align-items: center;
	}

	.serviceName {
		font-family: 'Montserrat';
		font-size: 16px;
    font-weight: 100;
    line-height: 1.5em;
		padding: 5px;
		width: 75%;
	}

	.serviceImage {
		display: flex;
		flex: 0.55;
		overflow: hidden;
	}

	.ratingImg {
		width: max-content;
	}

	.ratingImg:hover {
		transform: translate(0px,-12px);
		transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
	}

	.whyChooseUs {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 99.7%;
		height: 90vh;
		padding-top: 10%;
	}

	.whyUsHeading {
		display: flex;
		align-items: center;
		color: #115a9f;
	}

	.h3_WhyUs {
		font-family: 'Montserrat';
		font-weight: bolder;
		letter-spacing: 1px;
		color: #115a9f;
		margin: 10px;
	}

	.chooseCardContainer {
		display: flex;
  	justify-content: space-evenly;
  	align-items: baseline;
		text-align: left;
	}

	.chooseCards {
		display: flex;
  	flex-direction: column;
  	border-radius: 25px;
  	height: max-content;
  	width: 18%;
  	text-align: left;
  	font-size: 16px;
  	font-family: 'Montserrat';
  	word-wrap: break-word;
  	padding: 40px;
		box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);
	}

	.chooseCards:hover {
		transform: translate(0px,-12px);
		transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: ease-out;
	}

	.chooseCardTitle {
  	font-weight: bolder;
  	padding-top: 15px;
  }
