  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  .App {
  	overflow: hidden;
  }

  .home {
  	display: flex;
  	flex-direction: column;
  }

  .footer {
  	padding-top: 100px;
  	display: flex;
  	justify-content: space-around;
  	height: 90vh;
  	width: 99.7%;
  	background: rgb(19, 59, 140);
  	background: linear-gradient(99deg, rgba(19, 59, 140, 1) 10%, rgba(31, 89, 209, 1) 56%, rgba(0, 212, 255, 1) 100%);
  }

  .header {
  	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
  }

  .digiFacImg {
  	margin-top: 2%;
  }

  .getButton {
  	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  	-webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  	-moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.32);
  }

  .footerContainer {
  	display: flex;
  	flex: 0.3;
  	flex-wrap: wrap;
  	color: white;
  	height: max-content;
  	font-family: 'Montserrat';
  	font-size: 16px;
  	line-height: 30px;
  }

  .anchor {
  	text-decoration: none;
  	color: chartreuse;
  }

  ul {
  	list-style: none;
  	line-height: 30px;
  	margin-left: -15%;
  }

  li {
  	margin-top: 5%;
  	font-family: 'Montserrat';
  }

  .contactInfo {
  	color: white;
  	height: max-content;
  	flex: 0.2;
  	font-family: 'Montserrat';
  	text-align: left;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .services {
  	flex: 0.3;
  	font-family: 'Montserrat';
  	color: white;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .idma {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	height: 100vh;
  	width: 99.7%;
  }

  .idma_h2 {
  	font-family: 'Montserrat';
  	font-size: 28px;
  	font-weight: 600;
  	color: #115a9f;
  }

  .idmaPara {
  	text-align: center;
  	width: 73%;
  	font-size: 16;
  	font-family: 'Montserrat';
  }

  .cardContainer {
  	display: flex;
  	justify-content: space-evenly;
  	align-items: baseline;
  }

  .blogContainer {
  	display: flex;
  	align-items: baseline;
  	justify-content: space-evenly;

  	.blogCards {
  		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		margin-left: 2%;
  		border-radius: 25px;
  		height: max-content;
  		width: 25%;
  		text-align: left;
  		font-size: 16px;
  		font-family: 'Montserrat';
  		word-wrap: break-word;
  		padding: 5px;
  		box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, .15);

  		.blogImg {
  			width: 100%;
  		}

  		.blogDetails {
  			padding: 20px;

  			.blogDate {
  				display: flex;
  				align-items: center;
  				font-family: 'Montserrat';
  				color: grey;
  				align-self: flex-start;
  			}

  			.blogCardTitle {
  				font-weight: bolder;
  				padding-top: 15px;
  				font-family: 'Montserrat';
  			}
  		}
  	}
  }

  .cards {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border-radius: 25px;
  	height: max-content;
  	width: 15%;
  	text-align: center;
  	font-size: 16px;
  	font-family: 'Montserrat';
  	word-wrap: break-word;
  	padding: 30px;
  	box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, .15);
  }

  .cards:hover {
  	background-color: #115a9f;
  	color: white;
  }

  .cardTitle {
  	font-weight: bolder;
  	padding-top: 15px;
  }

  .imgCircle {
  	box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.3);
  	padding: 10px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 50px;
  	width: 50px;
  	border-radius: 50%;
  	background-color: palegreen;
  }

  .cards:hover>.imgCircle {
  	background-color: white;
  }

  .viewMore {
  	width: 10%;
  	border: 2px solid;
  	border-radius: 25px;
  	background-color: #115a9f;
  	font-family: 'Montserrat';
  	font-weight: bold;
  }

  .whatWeDo {
  	display: flex;
  	height: 100vh;
  	width: 99.7%;
  	padding: 15px;
  	overflow: hidden;
  	align-items: center;
  }

  .marketingServices {
  	display: flex;
  	flex: 0.6;
  	flex-direction: column;
  	height: max-content;
  	margin-left: 5%;
  }

  .H2 {
  	font-family: 'Montserrat';
  	font-size: 22px;
  	font-weight: 600;
  	margin-bottom: 35px;
  }

  .H6 {
  	font-size: 14px;
  	font-weight: 900;
  	letter-spacing: 1px;
  	color: #115a9f;
  	margin: 10px;
  }

  .dotHeading {
  	display: flex;
  	align-items: center;
  	color: #115a9f;
  }

  .servicePoints {
  	display: flex;
  	align-items: center;
  }

  .serviceName {
  	font-family: 'Montserrat';
  	font-size: 16px;
  	font-weight: 100;
  	line-height: 1.5em;
  	padding: 5px;
  	width: 75%;
  }

  .serviceImage {
  	display: flex;
  	flex: 0.55;
  	overflow: hidden;
  }

  .ratingImg {
  	width: max-content;
  }

  .ratingImg:hover {
  	transform: translate(0px, -12px);
  	transition-duration: .3s;
  	transition-property: transform;
  	transition-timing-function: ease-out;
  }

  .whyChooseUs {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	width: 99.7%;
  	height: 90vh;
  	padding-top: 10%;
  }

  .whyUsHeading {
  	display: flex;
  	align-items: center;
  	color: #115a9f;
  }

  .h3_WhyUs {
  	font-family: 'Montserrat';
  	font-weight: bolder;
  	letter-spacing: 1px;
  	color: #115a9f;
  	margin: 10px;
  }

  .chooseCardContainer {
  	display: flex;
  	justify-content: space-evenly;
  	align-items: baseline;
  	text-align: left;
  }

  .chooseCards {
  	display: flex;
  	flex-direction: column;
  	border-radius: 25px;
  	height: max-content;
  	width: 18%;
  	text-align: left;
  	font-size: 16px;
  	font-family: 'Montserrat';
  	word-wrap: break-word;
  	padding: 40px;
  	box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, .15);
  }

  .chooseCards:hover {
  	transform: translate(0px, -12px);
  	transition-duration: .5s;
  	transition-property: transform;
  	transition-timing-function: ease-out;
  }

  .chooseCardTitle {
  	font-weight: bolder;
  	padding-top: 15px;
  }

  .ourBlog {
  	display: flex;
  	align-items: center;
  	flex-direction: column;
  	height: 120vh;
  	width: 99.7%;
  }

  .blogPara {
  	text-align: center;
  	width: 65%;
  	font-family: 'Montserrat';
  	font-size: 16px;
  	line-height: 1.5em;
  }

  .viewMoreBtn {
  	font-family: 'Montserrat';
  	align-self: baseline;
  }

  .ourBlog>viewMore {
  	color: white;
  }

  .viewMoreTwo {
  	width: 10%;
  	border-radius: 25px;
  	font-family: 'Montserrat';
  	font-weight: bold;
  	color: #115a9f;
  }

  .carouselContainer {
  	display: flex;
  	height: 90vh;
  	width: 99.7%;
  	border: 2px solid red;
  }

  .rectangleImg {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 450px;
  	width: 1050px;
  	background-image: url("https://digitalfactoryindia.com/storage/2021/02/shape5-home4.png");
  	background-repeat: no-repeat;
  	flex-direction: column;
  }

  .rectText {
  	color: #fff;
  	font-size: 32px;
  	font-weight: 400;
  	line-height: 45px;
  	text-align: center;
  }

  .startParent {
  	z-index: 1;
  	background-color: white;
  	border-radius: 25px;
  	margin-top: 20px;
  }

  .rectParent {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
  	width: 100vw;
  }


  .parentOne {
  	display: flex;
  	align-items: center;
  	background-color: #115a9f;
  	justify-content: center;

		@keyframes header {
			from {opacity: 0; top: 50px;}
			to {opacity: 1; top: 0px;}
		}

		@keyframes para {
			from {opacity: 0; top: 50px;}
			to {opacity: 1; top: 0px;}
		}

		@keyframes image {
			from {opacity: 0; right: 2000px;}
			to {opacity: 1; right: -10px;}
		}

		@keyframes button {
			from {opacity: 0; top: 60px;}
			to {opacity: 1; top: 0px;}
		}

  	.divOne {
  		color: white;
  		height: 100%;
  		width: 50%;
  		display: flex;
  		flex-direction: column;
  		align-items: center;
			text-align: left;

  		h2 {
  			font-size: 25px;
				animation: header 1s infinite;
				animation-delay: 1s;
				animation-iteration-count: 1;
				position: relative;
  		}

  		p {
  			font-size: 20px;
				animation: para 1s infinite;
				animation-iteration-count: 1;
				animation-delay: 1.5s;
				position: relative;
  		}

			.para {
				text-align: left;
			}
  	}

  	.divTwo {
			animation: image 2s ease-out 0.2s 1 normal none;
  		height: 80%;
  		width: 50%;
  	}
  }

  .parentTwo {
  	display: flex;
  	background-color: limegreen;
  	align-items: center;

  	.divOneP2 {
  		color: white;
  		height: 100%;
  		width: 50%;
			display: flex;
  		flex-direction: column;
  		align-items: center;
			text-align: left;


  		h2 {
  			font-size: 25px;
				animation: header 1s infinite;
				animation-delay: 1s;
				animation-iteration-count: 1;
				position: relative;
  		}

  		p {
  			font-size: 20px;
				animation: para 1s infinite;
				animation-iteration-count: 1;
				animation-delay: 1.5s;
				position: relative;
  		}

			.para {
				text-align: left;
			}
  	}

  	.divTwoP2 {
  		height: 100%;
  		width: 50%;
  	}
  }

  .parentThree {
  	display: flex;
  	align-items: center;
  	background-color: deepskyblue;

  	.divOneP3 {
  		color: white;
  		height: 100%;
  		width: 50%;
			display: flex;
  		flex-direction: column;
  		align-items: center;


  		h2 {
  			font-size: 25px;
				animation: header 1s infinite;
				animation-delay: 1s;
				animation-iteration-count: 1;
				position: relative;
  		}

  		p {
  			font-size: 20px;
				animation: para 1s infinite;
				animation-iteration-count: 1;
				animation-delay: 1.5s;
				position: relative;
  		}

			.para {
				text-align: left;
			}
  	}

  	.divTwoP3 {
  		height: 100%;
  		width: 50%;
  	}
  }

  .parentFour {
  	display: flex;
  	align-items: center;
  	background-color: tomato;

  	.divOneP4 {
  		height: 100%;
  		color: white;
  		width: 50%;
			display: flex;
  		flex-direction: column;
  		align-items: center;

  		h2 {
  			font-size: 25px;
				animation: header 1s infinite;
				animation-delay: 1s;
				animation-iteration-count: 1;
				position: relative;
  		}

  		p {
  			font-size: 20px;
				animation: para 1s infinite;
				animation-iteration-count: 1;
				animation-delay: 1.5s;
				position: relative;
  		}

			.para {
				text-align: left;
			}
  	}

  	.divTwoP4 {
  		height: 100%;
  		width: 50%;
  	}
  }

  .parentFive {
  	display: flex;
  	align-items: center;
  	background-color: goldenrod;

  	.divOneP5 {
  		color: white;
  		height: 100%;
  		width: 50%;
			display: flex;
  		flex-direction: column;
  		align-items: center;

  		h2 {
  			font-size: 25px;
				animation: header 1s infinite;
				animation-delay: 1s;
				animation-iteration-count: 1;
				position: relative;
  		}

  		p {
  			font-size: 20px;
				animation: para 1s infinite;
				animation-iteration-count: 1;
				animation-delay: 1.5s;
				position: relative;
  		}

			.para {
				text-align: left;
			}
  	}

  	.divTwoP5 {
  		height: 100%;
  		width: 50%;
  	}
  }

  .startNow {
  	z-index: 1;
  	background-color: white;
  	border-radius: 25px;
  	margin-top: 20px;
  	width: 30%;
		position: relative;
		animation: button 1s ease-out 2s 1 normal none;
  }
